/* Reset */

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  position: relative;
  font-family: system-ui, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100%;
}
body {
  position: relative;
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
}

input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}

/* App */

body {
  background-color: #EEC6C0;
  margin: 0;
}

html, body, webview {
  width: 100%;
  height: 100%;
  border: none;
}

html, body {
  overflow: hidden;
}

html::-webkit-scrollbar, body::-webkit-scrollbar, webview::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

#device {
  margin: 0 auto;
}

#icons {
  text-align: center;
  user-select: none;
  margin: 8px 0;
}

#icons:hover .icon {
  visibility: visible;
}

#icons button, #icons input, #icons select, #icons button:focus, #icons input:focus, #icons select:focus  {
  border: 1px solid grey;
  background-color: transparent;
  outline: none;
}

.icon {
  user-select: none;
  color: grey;
  cursor: pointer;
  background-color: transparent;
  visibility: hidden;
}

#color {
  width: 25px;
  height: 21px;
  border: none !important;
}

.mr1 {
  margin-right: 0px;
}

.mr2 {
  margin-right: 12px;
}

select {
  height: 18px;
}

/* This makes the webview support border-radius.
   I love you Hiren! <3
   http://hirendave.tech/mobile-application/css-border-radius-not-working-in-android-webview-or-chrome/ */
.device-screen {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  overflow: hidden;
}
